<!DOCTYPE html>
<html>

<head>
    <title>Flights</title>
</head>

<style>
    .submit {
        background-color: #4CAF50;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>

<body bgcolor="#add8e6">
<h1> TODO Dashboard !!!!</h1>
<form action="/addTask/" method="post"> {% csrf_token %}
    <font color="green">task details: </font>
    <br><input type="text" name="task"><br><br/>
<input type="submit" value="add"/>
</form>

<h3>Remaining Tasks:</h3>
<ul>
  {% for todo in all_items %}
    <li>{{ todo.text }}
	<form action="/deleteTask/{{todo.id}}/" style="display: inline;" method="post"> {% csrf_token %}
            <input type="submit" value="delete"/>
    	</form>
    </li>
  {% endfor %}
</ul>
</body>
</html>
